<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ChatBot</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="chat-container">
    <div id="chat-messages" class="chat-messages"></div>
    <form id="chat-form" class="chat-form">
      <input type="text" id="user-message" class="user-message" placeholder="Type your message...">
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>
  
  <script src="main.js"></script>
</body>
</html>
